export AWS_ACCESS_KEY_ID= # retrieve from Minio
export AWS_SECRET_ACCESS_KEY= # retrieve from Minio
export EDIT_PASSWORD=editor
export EDIT_USER=editor
export IMGPROXY_KEY= # 128 char random string
export IMGPROXY_SALT= # 128 char random string
export IMGPROXY_URL=http://imgproxy:8080
export RAILS_ENV=development
export READ_ONLY_PASSWORD=readonly
export READ_ONLY_USER=readonly
export S3_BUCKET='balua-development'