---
:version: 12
:design:
  "_id": _design/opendig
  :views:
    :config:
      :map: "function(doc){if (doc.type == 'config') emit(doc, doc);}"
    :areas:
      :map: "function(doc){if (doc.area) emit(doc.area,doc.area);}"
      :reduce: "function(keys,values){return true;}"
    :squares:
      :map: "function(doc){if (doc.square) emit([doc.area, doc.square], doc.area);}"
      :reduce: "function(keys,values){return true;}"
    :loci:
      :map: "function(doc){if (doc.code) emit([doc.area, doc.square, doc.code, doc._id, doc.locus_type, doc.designation, doc.age],doc.square);}"
      :reduce: "function(keys,values){return true;}"
    :all_loci:
      :map: "function(doc){if (doc.code) emit(doc.area + '.' + doc.square + '.' + doc.code, doc.area + '.' + doc.square + '.' + doc.code);}"
    :all_loci_int:
      :map: >
        function (doc) {
          if (doc.code) {
            var int_code = parseInt(doc.code);
            emit(doc.area + '.' + doc.square + '.' + int_code, doc.area + '.' + doc.square + '.' + doc.code);
          }
        }
      :reduce: "function(keys,values){return true;}"
    :locus:
      :map: "function(doc){if (doc.code) emit([doc.area, doc.square, doc.code],doc);}"
    :photos:
      :map: >
        function (doc) {
          if (doc.photos) {
            for (var _photo in doc.photos) {
              var photo = doc.photos[_photo];
              emit(photo.number, [doc.area + '.' + doc.square + '.' + doc.code, photo.number, photo.subject, photo.date])
            }
          }
        }
    :pails:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (var pail in doc.pails) {
              emit(doc.area + '.' + doc.square, [doc.pails[pail].pail_number, doc.code, doc.pails[pail].pail_date]);
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
    :finds_for_square:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (var _pail in doc.pails) {
              var pail = doc.pails[_pail];
              var pail = doc.pails[_pail];
              if (pail.finds) {
                for (var _find in pail.finds) {
                  var find = pail.finds[_find];
                  emit([doc.area + '.' + doc.square], [doc.code, pail.pail_number, pail.pail_date, find.field_number, find.type, find.remarks, find.gis_id, doc._id])
                }
              }
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
    :finds:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (var _pail in doc.pails) {
              var pail = doc.pails[_pail];
              if (pail.finds) {
                for (var _find in pail.finds) {
                  var find = pail.finds[_find];
                  emit([doc.area + '.' + doc.square + '.' + doc.code, pail.pail_number, find.field_number, find.type, find.remarks], [doc._id])
                }
              }
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
    :registrar:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (var _pail in doc.pails) {
              var pail = doc.pails[_pail];
              pail_date = new Date(pail.pail_date);
              pail_year = pail_date.getFullYear();
              if (pail.finds) {
                for (var _find in pail.finds) {
                  var find = pail.finds[_find];
                  emit(pail_year, [doc.area, doc.square, doc.code, pail.pail_number, find.field_number, find.registration_number, find.type, find.remarks, find.state, doc._id])
                }
              }
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
    :seasons:
      :map: >
        function (doc) {
          if (doc.start_date) {
            var start_date = new Date(doc.start_date);
            var start_year = start_date.getFullYear();
            emit(start_year, start_year)
          }
        }
      :reduce: "function(keys,values){return true;}"
    :bad_loci:
      :map: >
        function (doc) {
          if (doc.code && doc.code.charAt(0) == '9') {
            emit([doc.area + '.' + doc.square + ':' + doc.code], doc);
          }
        }
    :bad_pails:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (_pail in doc.pails) {
              var pail = doc.pails[_pail];
              if (pail.pail_number.charAt(0) == '9') {
                emit([doc.area + '.' + doc.square + '.' + doc.code, pail.pail_number], doc);
              }
            }
          }
        }
    :bad_finds:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (_pail in doc.pails) {
              var pail = doc.pails[_pail];
              if (pail.finds) {
                for (_find in pail.finds) {
                  var find = pail.finds[_find];
                  if (find.field_number.charAt(0) == '9') {
                    emit([doc.area + '.' + doc.square + '.' + doc.code, pail.pail_number, find.field_number], doc);
                  }
                }
              }
            }
          }
        }
    :bone_report:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (_pail in doc.pails) {
              var pail = doc.pails[_pail];
              if (pail.bone_bag === true) {
                pail_date = new Date(pail.pail_date);
                pail_year = pail_date.getFullYear();
                date_array = pail_date.toDateString().split(' ')
                month = date_array[1];
                day = date_array[2];
                year = date_array[3];
                emit([pail_year], {"area": doc.area, "square": doc.square, "locus": doc.code, "pail": pail.pail_number, "date": day + " " + month + ", " + year});
              }
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
    :report:
      :map: >
        function (doc) {
          if (doc.pails) {
            for (var _pail in doc.pails) {
              var pail = doc.pails[_pail];
              pail_date = new Date(pail.pail_date);
              pail_year = pail_date.getFullYear();
              if (pail.finds) {
                for (var _find in pail.finds) {
                  var find = pail.finds[_find];
                  if (find.registration_number) {
                    var findType = find.registration_number.charAt(0);
                    var findHash = {"season": pail_year, "area": doc.area, "square": doc.square, "locus": doc.code, "pail_number": pail.pail_number, "pail_date": pail.pail_date, "doc_id": doc._id}
                    var mergedHash = Object.assign({}, findHash, find);
                    emit([pail_year, findType], mergedHash)
                  }
                }
              }
            }
          }
        }
      :reduce: "function(keys,values){return true;}"
