<div class="row mb-5">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2>Interpretation</h2>
      </div>
    </div>

    <div class="form-group row">
      <label for="designation" class="col-sm-12 col-form-label">Function</label>
      <div class="col-sm-12">
        <textarea class="form-control" id="locus[function]" name="locus[function]" rows="5"><%= @locus['function'] %></textarea>
      </div>
    </div>
    
  </div>
</div>




    <script>
      $( "#start_date" ).datepicker({
        dateFormat: "dd MM, yy"
      });
    </script>