<div class="row">
  <div class="col">
    <h1>Stratigraphy</h1>
    <table class="table">
      <tbody>
        <% @locus.dig('stratigraphies').each do |stratigraphy_row| %>
          <tr>
            <td><%= stratigraphy_row["is_related"] %></td>
            <td><%= stratigraphy_row["related"] %></td>
            <td><%= stratigraphy_row["related_locus"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>