<div class="row">
  <div class="col-10 align-bottom">
    <h1>Areas</h1>
  </div>
  <div class="col-2 align-bottom">
    <%= link_to "New area", new_area_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
</div>

<% @areas.each do |area| %>
  <p><%= link_to area["key"], area_squares_path(area["key"]) %></p>
<% end %>