<div class="row">
  <div class="col-10 align-bottom">
    <h1>Fields</h1>
  </div>
  <div class="col-2 align-bottom">
    <%= link_to "New Field", new_field_path, class: "btn btn-primary float-right" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
</div>

<% @fields.each do |field| %>
  <p><%= link_to field["key"], field_squares_path(field["key"]) %></p>
<% end %>